*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  text-transform: uppercase;
  line-height: 30px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  appearance: none;
  border: none;
}

.search-form__label {
  display: inline;
  line-height: 21.6px;
  font-weight: 400;
  appearance: none;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration: overline;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 5px;
  width: 100%;
  min-width: 225px;
  appearance: none;
}

.search-form__fieldset {
  min-width: 212px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  position: relative;
  height: 19px;
  width: 19px;
  outline: 1px solid rgba(255, 255, 255, 1);
  margin-top: 6px;
}

.button {
  cursor: pointer;
  outline: 1px solid #ffffff;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.search-form__submit-button {
  cursor: pointer;
  padding: 6px 73.5px;
  margin-top: 20px;
}

.more-button {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 6px 145px;
  white-space: nowrap;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  margin: 2px 2px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.content__card-link {
  display: block;
}
